/* You can add global styles to this file, and also import other style files */
body {
    background: #f00000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eb0000, #fdfdfd);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsl(0, 92%, 46%), #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.titulo{
    font-size: 1.8rem;
    
}